@import url("https://web.middlebury.edu/development/tools/2d/Stylesheets/2d.css");
@import url("https://web.middlebury.edu/development/tools/2d/Stylesheets/Menu.css");
@import url("https://web.middlebury.edu/development/tools/2d/Stylesheets/MenuStyle.css");

td {
	text-align: left;
	vertical-align: top;
}

dt {
	font-weight: bold;
}

a.info_link img {
	border: none;
	vertical-align: middle;
	width: 20px;
}

p.gobacktionary_info {
	float: left;
	clear: left;
	margin-top: 0px;
}

p.gobacktionary_shortcut {
	display: block;
	margin-left: 40px;
}