.taskbar_dropdowns { right:12px; }
.breadcrumb { padding-left:12px; }

nav.gonav ul { margin:0px auto 12px auto; text-align:center; }
nav.gonav li { display:inline-block; list-style-type:none; padding:0px 9px; }

td { text-align: left; vertical-align: top; }

dt { font-weight: bold; }

a.info_link img { border: none; vertical-align: middle; width: 20px; }

.error { color: red; }

/* GOtionary */
table.gotionary td { width:50%; }

/* GObacktionary */
p.gobacktionary_info { float: left; clear: left; margin-top: 0px; }
p.gobacktionary_shortcut { display: block; margin-left: 40px; }

/* Sytles for the Flag as Inappropriate feature */
.flag_admin_table.completed td { border-right: 1px solid #AAA; border-bottom: 1px solid #AAA; }
.flag_admin_table.completed th { background-color: #AAA; }
.flag_admin_table.completed a { color: #AAA; }
.flag_admin_table.completed { border: 1px solid #AAA; }

.completed { color: #AAA; }

#already_flagged_message, .update_message_success { width: 400px; padding: 8px; border: 1px solid green; background-color: lightgreen; }

.update_message_failure { width: 400px; padding: 8px; border: 1px solid red; background-color: pink; }

.flag_admin_table { border: 1px solid #000; margin:0px; padding: 0px; width:100%; border-collapse: collapse; }
.flag_admin_table th { background-color: #000; color: #fff; padding: 2px; }
.flag_admin_table td { padding: 2px; border-right: 1px solid #000; border-bottom: 1px solid #000; }
.flag_admin_table th, .flag_admin_table td, .flag_admin_table a { word-wrap:break-word; }

.flag_detail_header { margin-left: 10px; }

#flag_comment { width: 300px; }

#flag_button_form { float: right; }

#flag_button_form input { float: left; }


.logs_table { border: 1px solid #000; margin:0px; padding: 0px; width:100%; border-collapse: collapse; }
.logs_table th { background-color: #000; color: #fff; padding: 2px; }
.logs_table td { padding: 2px; border-right: 1px solid #000; border-bottom: 1px solid #000; }
.logs_table th, .flag_admin_table td, .flag_admin_table a { word-wrap:break-word; }

/* make sure the anchor surrounding
the "details" button is not being
underlined. Ditto with history
button on the info page */
.history_button, .action_cells a, .info_edit_button, .edit_button { text-decoration: none; }

.action_cells { width: 200px; }

.completed .action_cells { width: 115px; }

.action_cells button { float: left; }

.center { text-align: center; }

.failed_validation { background-color: pink; border: 1px solid red; }

/* My Codes */
#my_codes_table { border-collapse: collapse; }

#my_codes_table td, #my_codes_table th { max-width: 300px; border: solid #000 1px; padding: 1px 5px 1px 5px; }
	#my_codes_table td:first-child, #my_codes_table th:first-child { width:20px; }
#my_codes_table th { background-color: #000; color: #fff; }

/* External Links */
.external { background-image: url('external.png'); background-repeat: no-repeat; padding-right: 15px; background-position: right; }