@import url("https://web.middlebury.edu/development/tools/2d/Stylesheets/2d.css");
@import url("https://web.middlebury.edu/development/tools/2d/Stylesheets/Menu.css");
@import url("https://web.middlebury.edu/development/tools/2d/Stylesheets/MenuStyle.css");

td {
	text-align: left;
	vertical-align: top;
}

dt {
	font-weight: bold;
}

a.info_link img {
	border: none;
	vertical-align: middle;
	width: 20px;
}

p.gobacktionary_info {
	float: left;
	clear: left;
	margin-top: 0px;
}

p.gobacktionary_shortcut {
	display: block;
	margin-left: 40px;
}

.error {
	color: red;
}

/* Sytles for the Flag as Inappropriate feature */

.flag_admin_table.completed td {
border-right: 1px solid #AAA;
border-bottom: 1px solid #AAA;
}

.flag_admin_table.completed th {
background-color: #AAA;
}

.flag_admin_table.completed a {
color: #AAA;
}

.flag_admin_table.completed {
border: 1px solid #AAA;
}

.completed {
color: #AAA;
}

#already_flagged_message,
.update_message_success {
width: 400px;
padding: 8px;
border: 1px solid green;
background-color: lightgreen;
}

.update_message_failure {
width: 400px;
padding: 8px;
border: 1px solid red;
background-color: pink;
}

.flag_admin_table {
border: 1px solid #000;
margin: 10px 10px 0px 10px;
padding: 0px;
width: 98%;
border-collapse: collapse;
}

.flag_admin_table th {
background-color: #000;
color: #fff;
padding: 2px;
}

.flag_admin_table td {
padding: 2px;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
}

.flag_detail_header {
margin-left: 10px;
}

#flag_comment {
width: 300px;
}

#flag_button_form {
float: right;
}

#flag_button_form input {
float: left;
}

/* make sure the anchor surrounding
the "details" button is not being
underlined. Ditto with history
button on the info page */
.history_button,
.action_cells a,
.info_edit_button,
.edit_button {
text-decoration: none;
}

.action_cells {
width: 200px;
}

.completed .action_cells {
width: 115px;
}

.action_cells button {
float: left;
}

.center {
text-align: center;
}

.failed_validation {
background-color: pink;
border: 1px solid red;
}

/* My Codes */

#my_codes_table {
border-collapse: collapse;
}

#my_codes_table td,
#my_codes_table th {
max-width: 300px;
border: solid #000 1px;
padding: 1px 5px 1px 5px;
}

#my_codes_table th {
background-color: #000;
color: #fff;
}

/* #my_codes_table td.no_border {
border: none;
}*/
